.container {
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }